body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.container {
    width: 450px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white;
}

textarea {
    resize: vertical
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="url"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.skills input {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 100%;
    color: white;
    background: #007bff;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: blue;
}